/* Imported Fonts */
@font-face {
  font-family: Canterbury;
  src: url(./assets/fonts/Canterbury.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(./assets/fonts/georgia.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(./assets/fonts/georgiab.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Helvetica Neue;
  src: url(./assets/fonts/HelveticaNeueLight.otf);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(./assets/fonts/HelveticaNeueMedium.otf);
  font-weight: bold;
}

.header-section {
  display: flex;
  flex-direction: column;
}

#date-and-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#curr-date {
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #111111;
}

#account button {
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #ffffff;
  background-color: #688bad;
  border: none;
  padding: 7px;
  border-radius: 4px;
}

/* For article and column formatting */
.articles-section {
  display: grid;
  gap: 1.5px;
  align-items: stretch;
  padding: 0.5em;
}

.articles-section img {
  display: block;
  width: 80%;
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
  border: none;
  border-right: 2px solid #d9d9d9;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: auto;
  align-items: center;
}

.column:last-child {
  border: none;
}

.comment-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  text-align: left;
  background-color: #ffffff;
}

.comment-section h2 {
  font-family: "Helvetica Neue";
}

#comment-button {
  width: 40px;
}

#comment-icon {
  height: auto;
  max-width: 40px;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
  #curr-date,
  #account {
    font-size: 12px;
  }

  .articles-section {
    grid-template-columns: repeat(1, 1fr);
  }

  header h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .column {
    border: none;
  }
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #curr-date,
  #account {
    font-size: 14px;
  }

  .articles-section {
    grid-template-columns: repeat(2, 1fr);
  }

  header h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
  }

  .column:nth-child(2) {
    border: none;
  }
  .column:last-child {
    border-right: 2px solid #d9d9d9;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  #curr-date,
  #account {
    font-size: 16px;
  }

  .articles-section {
    grid-template-columns: repeat(3, 1fr);
  }

  header h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 36px;
  }
}

header {
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 2px;
}

header h1 {
  font-family: "Canterbury";
  text-align: center;
  margin-bottom: 20px;
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
  min-height: 500px;
}

h2 {
  font-family: "Georgia", Times, serif;
  width: 80%;
}

p {
  font-family: "Times New Roman";
  color: #5a5a5a;
  width: 80%;
}

.comment h2 {
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 12px;
}

.comment p {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 14px;
}
